!!! 5
%html{:lang => 'ru'}
  %head
    %meta{:charset => 'utf-8'}
    %title Риадо
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %body
    .container
      .row
        .span12
          = image_tag('header.jpg')
          .navbar
            .navbar-inner
              %div{:class => ['nav-collapse','collapse']}
                %ul.nav
                  %li= link_to 'Главная', root_path
    .container
      .row
        .span12
          - flash.map do |key,message|
            %div{:class => ['alert',flash_class_for(key)]}
              %button{:type => 'button', :class => 'close', :data => {:dismiss => 'alert'}} ×
              = message
      .row
        #content.span8= yield
        .span4
          .well
            %legend Текущий регион
            - if @current_region
              %a{:href => '#regions', :data => {:toggle => 'modal'}}= @current_region
            - if @regions
              #regions{:class => ['modal','hide','fade']}
                .modal-header
                  %h3 Выбор региона
                .modal-body
                  %ul
                  - @regions.each do |r|
                    %li 
                      = link_to r.name, set_current_region_path(:region => r.name.to_uri)

